Repository django-webpack/django-webpack-loader: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        stages:
          - commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        exclude: tests/
        types:
          - python
  - repo: https://github.com/flakeheaven/flakeheaven
    rev: 0.11.0
    hooks:
      - id: flakeheaven
        additional_dependencies:
          - flake8-blind-except
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-docstrings
          - flake8-isort
          - flake8-polyfill
          - flake8-pytest
          - flake8-quotes
          - flake8-typing-imports
          - yesqa
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        types:
          - python
        pass_filenames: false
        additional_dependencies:
          - pyright
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --ignore-init-module-imports

Update tests/requirements/django42.txt
  tests/requirements/django42.txt
Due: none

v2.0.1 release
  CHANGELOG.md
  tests/package.json
  webpack_loader/__init__.py
Due: pylint, pyright

simplify circleci config with version upgrade
  .circleci/config.yml
Due: none

correct parameters type
  .circleci/config.yml
Due: none

fix pip install
  .circleci/config.yml
Due: none

fix version exclusion
  .circleci/config.yml
Due: none

fix webpack 4 in node v18
  tests/webpack.config.error.js
  tests/webpack.config.gzipTest.js
  tests/webpack.config.integrity.js
  tests/webpack.config.simple.js
  tests/webpack.config.skipCommon.js
  tests/webpack.config.sourcemaps.js
  tests/webpack.config.split.js
Due: none

remove test requirements.txt for django versions
  tests/requirements/django20.txt
  tests/requirements/django21.txt
  tests/requirements/django22.txt
  tests/requirements/django30.txt
  tests/requirements/django31.txt
  tests/requirements/django32.txt
  tests/requirements/django40.txt
  tests/requirements/django41.txt
  tests/requirements/django42.txt
Due: none

tox test current supported versions only
  tests/tox.ini
Due: none

tox test future py312 dj50
  tests/app/tests/test_custom_loaders.py
  tests/tox.ini
Due: pyright

update displayed supported version
  README.md
  setup.py
Due: pylint, pyright

Rename loader.py -> loader.py
  webpack_loader/loaders.py
Due: pylint, pyright

Add back old file with deprecation warning
  webpack_loader/loader.py
Due: pylint, pyright

Rename references
  README.md
  tests/app/tests/test_custom_loaders.py
  webpack_loader/config.py
Due: pylint, pyright

Update examples dependencies & setup dependabot
  .github/dependabot.yml
  examples/README.md
  examples/code-splitting/package-lock.json
  examples/code-splitting/package.json
  examples/code-splitting/webpack.config.js
  examples/hot-reload/README.md
  examples/hot-reload/package-lock.json
  examples/hot-reload/package.json
  examples/hot-reload/server.js
  examples/hot-reload/webpack.config.js
  examples/simple/package-lock.json
  examples/simple/package.json
  examples/simple/webpack.config.js
Due: none

Set missing "license" package metadata attribute
  setup.py
Due: pylint, pyright

Add Python 3.12 to test matrix and add classifier
  .circleci/config.yml
  setup.py
Due: pylint, pyright

Add make test & development documentation
  .circleci/config.yml
  Makefile
  README.md
  requirements-dev.txt
  tests/package-lock.json
  tests/webpack.config.error.js
  tests/webpack.config.gzipTest.js
  tests/webpack.config.integrity.js
  tests/webpack.config.simple.js
  tests/webpack.config.skipCommon.js
  tests/webpack.config.sourcemaps.js
  tests/webpack.config.split.js
Due: none

Drop dependabot for now
  .github/dependabot.yml
Due: none

Simplify README and hot reload example
  README.md
  examples/README.md
  examples/hot-reload/README.md
  examples/hot-reload/server.js
  examples/hot-reload/webpack.config.js
Due: none

Remove Code Splitting section from README, do example instead
  README.md
  examples/README.md
  examples/code-splitting/webpack.config.js
  examples/dynamic-imports/README.md
  examples/dynamic-imports/app/__init__.py
  examples/dynamic-imports/app/asgi.py
  examples/dynamic-imports/app/settings.py
  examples/dynamic-imports/app/urls.py
  examples/dynamic-imports/app/wsgi.py
  examples/dynamic-imports/assets/js/index.jsx
  examples/dynamic-imports/babel.config.js
  examples/dynamic-imports/manage.py
  examples/dynamic-imports/package-lock.json
  examples/dynamic-imports/package.json
  examples/dynamic-imports/requirements.txt
  examples/dynamic-imports/templates/home.html
  examples/dynamic-imports/webpack.config.js
  examples/hot-reload/webpack.config.js
Due: pylint, pyright

Change Development -> Contributing
  README.md
Due: none

Fix Makefile
  Makefile
Due: none

Fix typo
  examples/README.md
Due: none

Fix examples/hot-reload/webpack.config.js
  examples/hot-reload/webpack.config.js
Due: none
