Repository django-webpack/django-webpack-loader: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        stages:
          - commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        exclude: tests/
        types:
          - python
  - repo: https://github.com/flakeheaven/flakeheaven
    rev: 0.11.0
    hooks:
      - id: flakeheaven
        additional_dependencies:
          - flake8-blind-except
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-docstrings
          - flake8-isort
          - flake8-polyfill
          - flake8-pytest
          - flake8-quotes
          - flake8-typing-imports
          - yesqa
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        types:
          - python
        pass_filenames: false
        additional_dependencies:
          - pyright
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --ignore-init-module-imports

Fix examples/hot-reload/webpack.config.js
  examples/hot-reload/webpack.config.js
Due: none

Change Development -> Contributing
  README.md
Due: none

Simplify README and hot reload example
  README.md
  examples/README.md
  examples/hot-reload/README.md
  examples/hot-reload/server.js
  examples/hot-reload/webpack.config.js
Due: none

Fix typo
  examples/README.md
Due: none

Fix Makefile
  Makefile
Due: none

Clarify usage of BUNDLE_DIR_NAME and STATICFILES_DIRS in README
  .gitignore
  README.md
  examples/code-splitting/app/settings.py
  examples/code-splitting/webpack.config.js
  examples/dynamic-imports/app/settings.py
  examples/dynamic-imports/webpack.config.js
  examples/hot-reload/app/settings.py
  examples/hot-reload/assets/js/app.jsx
  examples/hot-reload/webpack.config.js
  examples/simple/app/settings.py
  examples/simple/webpack.config.js
  webpack_loader/loaders.py
Due: pylint, pyright

Rendering -> Usage
  README.md
Due: none

Standardize usage of webpack_bundles/ instead of bundles/
  examples/code-splitting/assets/bundles/main-f9a06994986b9a38cfa1.js
  examples/code-splitting/assets/bundles/other-56ee3b99fbc9d27a4901.js
  examples/dynamic-imports/assets/bundles/main-47cb9de544a86d6a17ab.js
  examples/dynamic-imports/assets/bundles/vendors-node_modules_lodash_lodash_js-8a71f59c9d87df0d1b5b.js
  examples/hot-reload/assets/bundles/main-d8efeceddad17343ae2f.js
  examples/hot-reload/assets/bundles/main-d8efeceddad17343ae2f.js.map
  examples/hot-reload/assets/bundles/main.css
  examples/hot-reload/assets/bundles/main.css.map
Due: none

Fix auto publicPath
  webpack_loader/loaders.py
Due: pylint, pyright

Fix get_static
  webpack_loader/loaders.py
  webpack_loader/utils.py
Due: pylint, pyright

Drop generated files
  examples/code-splitting/assets/bundles/main-f9a06994986b9a38cfa1.js
  examples/code-splitting/assets/bundles/other-56ee3b99fbc9d27a4901.js
  examples/dynamic-imports/assets/bundles/main-47cb9de544a86d6a17ab.js
  examples/dynamic-imports/assets/bundles/vendors-node_modules_lodash_lodash_js-8a71f59c9d87df0d1b5b.js
  examples/hot-reload/assets/bundles/main-d8efeceddad17343ae2f.js
  examples/hot-reload/assets/bundles/main-d8efeceddad17343ae2f.js.map
Due: none

Drop generated files
  examples/hot-reload/assets/bundles/main.css
  examples/hot-reload/assets/bundles/main.css.map
Due: none

Incomplete
  webpack_loader/loaders.py
  webpack_loader/utils.py
Due: pylint, pyright

Version 3.0.0
  .circleci/config.yml
  CHANGELOG.md
  LICENSE
  README.md
  examples/code-splitting/package-lock.json
  examples/code-splitting/package.json
  examples/code-splitting/webpack.config.js
  examples/dynamic-imports/package-lock.json
  examples/dynamic-imports/package.json
  examples/dynamic-imports/webpack.config.js
  examples/hot-reload/package-lock.json
  examples/hot-reload/package.json
  examples/hot-reload/webpack.config.js
  examples/simple/package-lock.json
  examples/simple/package.json
  examples/simple/webpack.config.js
  setup.py
  tests/package-lock.json
  tests/package.json
  tests/tox.ini
  webpack_loader/__init__.py
Due: pylint, pyright

Fix test matrix
  .circleci/config.yml
  tests/tox.ini
Due: none

Fix VERSION in setup.py
  setup.py
Due: pylint, pyright

Correct Django versions in setup.py
  setup.py
Due: pylint, pyright

Update README.md boilerplate link
  README.md
Due: none

Adding `skip_common_chunks` option to the `get_files()` template tag
  CHANGELOG.md
  tests/app/tests/test_webpack.py
  webpack_loader/__init__.py
  webpack_loader/contrib/jinja2ext.py
  webpack_loader/templatetags/webpack_loader.py
  webpack_loader/utils.py
Due: pylint, pyright

Improve get_files support for skip_common_chunks, avoid changing public API for get_as_tags
  tests/app/settings.py
  tests/app/templates/home.html
  tests/app/templates/only_files.html
  tests/app/tests/test_webpack.py
  tests/assets/js/get_files1.css
  tests/assets/js/get_files2.css
  tests/webpack-stats-getFiles.json
  tests/webpack.config.getFiles.js
  webpack_loader/templatetags/webpack_loader.py
  webpack_loader/utils.py
Due: pylint, pyright

Drop generated test stats file
  .gitignore
  tests/webpack-stats-getFiles.json
Due: none

Fix tests
  tests/app/tests/test_webpack.py
Due: pyright

Fix get_as_tags to return a list and fix get_files on Jinja2
  README.md
  tests/app/tests/test_webpack.py
  webpack_loader/contrib/jinja2ext.py
  webpack_loader/utils.py
Due: pylint, pyright

Drop examples package-lock.json
  .gitignore
  examples/code-splitting/.npmrc
  examples/code-splitting/assets/js/index.jsx
  examples/code-splitting/package-lock.json
  examples/code-splitting/package.json
  examples/dynamic-imports/.npmrc
  examples/dynamic-imports/assets/js/index.jsx
  examples/dynamic-imports/package-lock.json
  examples/dynamic-imports/package.json
  examples/hot-reload/.npmrc
  examples/hot-reload/assets/js/index.jsx
  examples/hot-reload/package-lock.json
  examples/hot-reload/package.json
  examples/simple/.npmrc
  examples/simple/assets/js/index.jsx
  examples/simple/package-lock.json
  examples/simple/package.json
  tests/package-lock.json
  tests/package.json
Due: none

Handle transformed assets URL
  Makefile
  tests_webpack5/.gitignore
  tests_webpack5/app/__init__.py
  tests_webpack5/app/settings.py
  tests_webpack5/app/templates/home.html
  tests_webpack5/app/tests/__init__.py
  tests_webpack5/app/tests/test_webpack.py
  tests_webpack5/assets/js/resource.txt
  tests_webpack5/assets/js/resources.jsx
  tests_webpack5/manage.py
  tests_webpack5/package-lock.json
  tests_webpack5/package.json
  tests_webpack5/webpack.config.js
  tests_webpack5/webpack_loader
  webpack_loader/loaders.py
  webpack_loader/templatetags/webpack_loader.py
  webpack_loader/utils.py
Due: pylint, pyright

Upgrade to 3.1.0
  CHANGELOG.md
  examples/code-splitting/package.json
  examples/dynamic-imports/package.json
  examples/hot-reload/package.json
  examples/simple/package.json
  tests/package-lock.json
  tests/package.json
  tests_webpack5/package-lock.json
  tests_webpack5/package.json
  webpack_loader/__init__.py
Due: pylint, pyright

Update CHANGELOG.md
  CHANGELOG.md
Due: none
